//readme . should use more comments to get all clear


//quicksand
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


//compforta
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



* { 
    margin: 0 ;
    padding: 0;
}
 
h2 ,
p,
h6 {
    font-family: 'Quicksand', sans-serif; 
    color: var(--color-text);
    padding: 0;
    margin: 0;
}
 

input, button, submit { border:none; } 

 



span {
    color: var(--spans);
}
html {
    --bg :rgb(247,245,242); 
    --bg-panel :#fffbfb;
    --color-heading: #333;
    --color-text : #333333;
    --color-red : #ff1f3d;
    --buttons : #ff1f3d;
    --navLinks : #fffbfb;
    --spans : #333333;
    --navText: #ff1f3d;
    --navBar : rgba(53, 53, 53, 0.89);
    --gradient: linear-gradient(to right top, #e2e8e0, #d9e9df, #cfe9e2, #c4e9e9, #bce8f2, #bce8f2, #bce8f2, #bce8f2, #c4e9e9, #cfe9e2, #d9e9df, #e2e8e0);
}

html[data-theme='dark'] {
    --bg :#333333;
    --bg-panel :#434343;
    --color-heading: #3694ff;
    --color-text : #fffbfb;
    --color-red : #ff1f3d;
    --navLinks : #ff1f3d;
    --buttons : #ff1f3d;
    --navText: #fffbfb;
    --spans : #ff1f3d;
    --gradient :  linear-gradient(to right top, #373737, #404040, #494949, #525252, #5c5c5c, #5d5d5d, #5e5e5e, #5f5f5f, #585858, #515151, #4a4a4a, #434343);
}

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth; 
}
 

input[type=checkbox]{
	height: 0;
    width: 0; 
    visibility: hidden;
    margin: auto 0;
}
 

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 43px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
    position: relative;  
    margin: auto auto;
    margin-left: 50px;

}
 
label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background:var(--buttons);
}

input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}
 
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

 .navigationLIlaberl { 
     display: flex;
     justify-content: center;
     align-items: center;
 }


// navigation 

 
nav {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 7vh;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-color:var(--navBar);
	z-index: 100;
 }
.logo h4 {
    
	margin: auto 0;
}
.logo h4 a {
	color: var(--navLinks);  
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	margin: auto 0;
	text-decoration: none;
	padding: 7px;
	border-radius: 3px;
    font-weight: bold; 
}

.logo h4 a:hover {
 	cursor: pointer;
    transition: .2s;
    color: var(--navText)
	//background-color: #ff1f3d;
}

.nav-links {
	display: flex;
    justify-content: space-around;
    align-items: center;
	width: 30%;
	margin: 0;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: var(--navLinks);  
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	border-radius: 3px;
	transition: .5s;
	text-transform: uppercase;
}

.nav-links a:hover {
	color: var(--navText)
	//background-color: #ff1f3d;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: var(--navLinks);
	margin: 5px;
	transition: .7s ease-out;
}

.burger {
	display: none;
}
  



@media screen and (max-width: 1300px) {
 
	.landing-page h1 { 
		width: 80%;
		font-size: 80px;
	}
}

@media screen and (max-width: 1100px) {
	.nav-links {
		width: 50%;
    }
}

@media screen and (max-width: 980px) {
    body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0;
		height: 93vh;
		top: 7vh;
        background-color:var(--navBar);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 0%;
		z-index: 100;
		padding: 0;
		transition: all 0.5s ease-in;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.nav-links li {
        margin: auto 0;
		opacity: 0;
	}
	.nav-links a {
		padding: 10px 10px;
	}
	.nav-links a:hover {
		background-color: #1663d0;
		color: #fff;
    }
    
    .nav-links  label {
        margin: 0 auto;
        transform: translate(-50%,-50%)
    }
	.fa-grip-lines {
		visibility: visible;
		color: #404040;
		padding: 0;
		margin: 5px;
	}
 
}

@media screen and (max-width: 980px){


    .nav-active {
        width: 100%;
    }
    
    @keyframes navLinkFade {
        form {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .fixedPosition {
        position: fixed;
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        transition: .5s;
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
    


























//landing section
 

.landing__section {
        width: 100%;
        height: 100%;
        background : var(--gradient); 
        height: 100%;
        width: 100%;
        position: relative;
 
    }
 

    #particles-js{ 
        position:absolute; 
        width: 100%; 
        height: 100%;     
    } 
    /* ---- stats.js ---- */ 
    .count-particles{   
        position: absolute; 
        top: 48px; 
        left: 0; 
        width: 80px;  
        font-size: .8em; 
        text-align: left; 
        text-indent: 4px; 
        line-height: 14px; 
        padding-bottom: 2px; 
        font-family: Helvetica, Arial, sans-serif; 
        font-weight: bold; 
    } 
    .js-count-particles{ 
        font-size: 1.1em; 
    } 
    #stats, 
    .count-particles{
            -webkit-user-select: none;
             margin-top: 5px;
              margin-left: 5px;
     } 
     #stats{ 
         border-radius: 3px 3px 0 0; 
         overflow: hidden; 
    } 
    .count-particles{
         border-radius: 0 0 3px 3px; 
    }


    .text__section {  
        position: absolute ;             
        left: 50%;
        top: 50%; 
        transform: translate(-50%,-50%);
        z-index: 10;
        text-align: center;
        width: 90%; 
        text-align: center;

        @media screen and ( min-width:768px ) {  
            left: 50%;
            top: 50%; 
            transform: translate(-50%,-50%)scale(1.3); 
        }

        @media screen and ( min-width:1024px ) {  
            left: 50%;
            top: 50%; 
            transform: translate(-50%,-50%)scale(1.6);
             

        }

        h2 {
            color: var(--color-text);  
        }


        span {
            color: var(--color-red);
            font-weight: bold;
        }

        .all-text  {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        p  { 
            color: var(--color-text); 
                        
        @media screen and ( min-width:768px ) { 
            margin-top: 20px;
        } 
        }

        .slider { 
            height: 28px;
            padding: 0 10px;   
            overflow: hidden;
            @media screen and ( min-width:768px ) { 
                margin-top: 20px;
            }
        }

        .slider div {
            color:var(--color-text);
            font-weight: bold;
            margin-bottom: 18px;
            padding: 3px 10px;
            text-align: center;
            box-sizing: border-box;
        }
        .slider-text1 { 
            background-color: #3694ff00;
            animation: slide  6500ms linear infinite ;
         }
        .slider-text2 { 
            background-color: #e9cb4400;
         }
        .slider-text3 { 
            background-color: #f33b0d00;
         }


         @keyframes slide {
             0%{ margin-top: -150px}
             5%{ margin-top: -100px}
             33%{margin-top: -100px}
             38%{margin-top: -50px}
             66%{margin-top: -50px}
             70%{margin-top: 0px}
             100%{margin-top:  0px} 
         }
         

             
    } 

.aboutMe__divider { 
    width: 100%;
    margin: 10px 0 ;
    text-align: center;
    h2 { 
        @media screen and ( min-width:768px ) { 
            font-size: 50px;
        }
        @media screen and ( min-width:1024px ) { 
            font-size: 59px;
        }
    }

    p {
        font-weight: bold;
        @media screen and ( min-width:768px ) { 
            font-size: 23px;
        }
        @media screen and ( min-width:1024px ) { 
            font-size: 25px;
        }
        
    }
}

.aboutMe__section { 
    width: 70%;
    padding: 5px;
    text-align: center; 
    letter-spacing: 1px;
    margin: 0 auto;

    @media screen and ( min-width: 1024px ) { 
        margin: 30px auto;

    }
    @media screen and ( max-width: 768px ) { 
        width: 90%;

    }

    p { 
        line-height: 35px;
        font-size: 17px;
        letter-spacing: 1px;

        @media screen and ( min-width:768px ) { 
            font-size: 20px;
            
        }
        @media screen and ( min-width:1024px ) { 
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 50px;


        }

    }
    
    span {
        font-weight: bold;
        letter-spacing: 1px;

    }
    a { 
        text-decoration: none;
        color: var(--spans);
        font-weight: bold;
        letter-spacing: 1px;

        &:hover { 
            text-decoration: underline;
        }
    }
    .cv_text { 
        margin-bottom: 35px;

        @media screen and ( min-width:768px ) { 
            margin-bottom: 55px;
        }




    }
    .Curriculum {
        text-decoration: none;
        font-weight: bold; 
        padding: 10px 30px;
        background-color: var(--buttons);
        color: #fff;
        border-radius: 5px;
        text-transform: uppercase;
        margin: 50px 0; 
        
        @media screen and ( min-width:768px ) { 
            font-size: 22px; 

        }

    }
}

.currentStack__section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
    margin: 35px 0 ;  
    padding: 60px 0;
    background-color: var(--color-text); 

    @media screen and ( min-width:768px ) { 
        margin: 55px 0 ; 
        grid-template-columns: auto auto auto ; 

    }

    @media screen and ( min-width:1024px ) { 
        font-size: 21px;
        grid-template-columns: auto auto auto ; 
        grid-template-rows: none ; 

  
    }

    
    .thirdStack { 
        @media screen and ( min-width:768px ) { 
            grid-column: 1 / 3;
 
        }

        @media screen and ( min-width:1024px ) { 
           grid-column: 3; 
        }
    }

    .stack__info {
        width: 90%; 
        padding: 15px;
        margin: 0 auto;
        text-align: center;
        background-color: var(--color-text);
        border: 1px solid var(--bg-panel);
        border-radius: 8px;
        
        .stack {
            font-size: 15px ; 
            width: 60px;
            margin-top:-24px;
            margin-left:5px;
            background:var(--color-text);
            color: var(--bg-panel);
        }
        
        .development {
            font-size: 15px ; 
            width: 100px;
            margin-top:-24px;
            margin-left:5px;
            background:var(--color-text);
            color: var(--bg-panel);
        }
        
        .future {
            font-size: 15px ; 
            width: 60px;
            margin-top:-24px;
            margin-left:5px;
            background:var(--color-text);
            color: var(--bg-panel);
        }

         
            @media screen and ( min-width:1024px ) { 
                max-width: 400px;
            }


        .stack_img {
            color:  var(--bg-panel);
            margin: 15px 0;
            display: flex;
            justify-content: space-around;
            i{
                color: var(--bg-panel) !important;
            }
        }
        p {
            color: var(--bg-panel);
            letter-spacing: 2px;
            line-height: 20px;

            

            @media screen and ( min-width:1024px ) { 
                line-height: 30px;
            }


            span { 
                color: var(--color-red);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}



.projects__divider { 
    width: 100%;
    margin: 20px 0 ;
    text-align: center; 

    h2 { 
        @media screen and ( min-width:768px ) { 
            font-size: 50px;
        }
        @media screen and ( min-width: 1024px ) { 
            font-size: 59px;
        }
    }  
}

.invert__element {  
    .project__container {
 
        .image__site {
            grid-column:   1 ;  
            @media screen and ( min-width: 1200px ) { 
                grid-column:   2 ; 
                grid-row:   1 ; 
            }
             
        }

        .text__site { 
            grid-column: 1;
            @media screen and ( min-width: 1200px ) { 
                grid-column: 1; 
            }
             
        }

    }
}

.project__section  {
    width: 100%;
    margin: 0 ;
    padding: 0px 5px; 

    @media screen and ( min-width: 1024px ) { 
        padding: 0  15px; 
    }

    .project__container {
        display: grid ; 
        grid-template-rows: auto  auto ;
        grid-gap: 10px;
        margin: 70px 0;

        @media screen and ( min-width: 1200px ) { 
            grid-template-rows: none ;
            grid-template-columns:  50% 50%  ; 
            width: 60%;
            margin: 100px auto;
        }

        .image__site {
            width: 100%; 
            
            .img__top {
                width: 100%;
                border-radius: 10px;
                transform-style: preserve-3d;
                transform: perspective(1000px);
                -webkit-box-shadow: 3px -1px 67px -20px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px -1px 67px -20px rgba(0,0,0,0.75);
                box-shadow: 3px -1px 67px -20px rgba(0,0,0,0.75); 
            }
            .firstimage {
                background-image: url("../img/nasa_api_bottom.png");
                background-size: cover;
                width: 100%;
            } 
            .secondimage {
                background-image: url("../img/react_weather_bottom.png");
                background-size: cover;
                width: 100%;
            } 
            .thirdimage {
                background-image: url("../img/explore_italy_bottom.png");
                background-size: cover;
                width: 100%;
            } 
            .img__bottom {
                width: 100%;
                transform-style: preserve-3d;
                transform: translateZ(20px)
            }
        }

        .text__site{ 
            width: 100%;
            display: grid ; 
            grid-template-rows: auto  auto auto;
            grid-gap: 5px;
            text-align: center;
            letter-spacing: 1px;     
 
            p {
                margin: 20px 0;
                line-height: 35px;
            } 

            .button__row {
                display: flex;
                justify-content: space-around;
                width: 50%;
                margin:  0 auto;

                a {
                    text-decoration: none;
                    padding: 8px 15px;
                    background-color: var(--color-text);
                    color :  var(--bg-panel);
                    border-radius: 5px;
                    max-height: 40px;
                }
            }


            ul   { 
                display: flex;
                justify-content: space-around;
                padding: 20px 0;

                @media screen and ( min-width: 1024px ) { 
                    margin:   0;
                    align-items: center
                }

                li {
                    list-style-type: circle;
                    text-transform: uppercase;
                    color : var(--color-text);
                }
                 
            }

        }




    }


}





 
.contact__divider { 
    width: 100%;
    margin: 10px 0 20px 0 ;
    text-align: center; 
    h2 { 
        @media screen and ( min-width:768px ) { 
            font-size: 50px;
        }
        @media screen and ( min-width:1024px ) { 
            font-size: 59px;
        }
    }
}


.contact__section {
    width: 100%;
    margin: 10px 0 ;
    padding: 0 10px;

    @media screen and ( min-width:768px ) { 
        margin: 50px 0 ;
    }
 
    p{
        text-align: center ;  
        @media screen and ( min-width:768px ) { 
            font-size: 21px;
        }
    } 


    .contact_ul { 
        width: 40%;
        margin: 80px auto;
        display: flex;
        justify-content: space-around;

         


        a { 
            text-decoration: none;

            @media screen and ( max-width:768px ) { 
                margin: 0 10px;
            }

        } 
        #hexagon {
            width: 100px;
            height: 60px;
            background: var(--color-text);
            position: relative; 
           text-align: center;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;


            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                color: var(--bg-panel)
            }



        }
        #hexagon:before {
            content: "";
            position: absolute;
            top: -25px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 25px solid  var(--color-text);
            -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        #hexagon:after {
            content: "";
            position: absolute;
            bottom: -24px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 25px solid  var(--color-text);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        // Linkedin
        .linkedin:hover{
          background: rgb(4, 217, 255) !important;
        }
        
        .linkedin:hover:after{
          border-top: 25px solid rgb(4, 217, 255)!important;
        }
       .linkedin:hover:before{
          border-bottom: 25px solid rgb(4, 217, 255)!important;
        }

        //Gmail
        .gmail:hover{
            background: rgb(255, 4, 4) !important;
          }
          
          .gmail:hover:after{
            border-top: 25px solid rgb(255, 4, 4)!important;
          }
         .gmail:hover:before{
            border-bottom: 25px solid rgb(255, 4, 4)!important;
          }
          
          //github
          .github:hover{
            background: rgb(0, 0, 0) !important;
          }
          
          .github:hover:after{
            border-top: 25px solid rgb(0, 0, 0)!important;
          }
         .github:hover:before{
            border-bottom: 25px solid rgb(0, 0, 0)!important;
          }

          //instagram 

          .instagram:hover{
            background: rgb(255, 32, 236)!important;
          }
          
          .instagram:hover:after{
            border-top: 25px solid rgb(255, 32, 236)!important;
          }
         .instagram:hover:before{
            border-bottom: 25px solid rgb(255, 32, 236)!important;
          }

         //youtube
        .youtube:hover{
            background: rgb(255, 4, 4) !important;
          }
          
          .youtube:hover:after{
            border-top: 25px solid rgb(255, 4, 4)!important;
          }
         .youtube:hover:before{
            border-bottom: 25px solid rgb(255, 4, 4)!important;
          }
        // twitter
        .twitter:hover{
          background: rgb(4, 217, 255) !important;
        }
        
        .twitter:hover:after{
          border-top: 25px solid rgb(4, 217, 255)!important;
        }
       .twitter:hover:before{
          border-bottom: 25px solid rgb(4, 217, 255)!important;
        }


    }
}
 

    footer { 
    height: 20vh;
    position: relative;
    background-color: var(--color-text);
    margin-top: 80px;
    p { 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: var(--bg);
        font-size: 22px;
    } 
} 