//readme . should use more comments to get all clear


//quicksand
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


//compforta
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



* { 
    margin: 0 ;
    padding: 0;
}
 
h2 ,
p,
h6 {
    font-family: 'Quicksand', sans-serif; 
    color: var(--color-text);
    padding: 0;
    margin: 0;
}
 

input, button, submit { border:none; } 

 



span {
    color: var(--spans);
}
html {
    --bg :rgb(247,245,242); 
    --bg-panel :#fffbfb;
    --color-heading: #333;
    --color-text : #333333;
    --color-red : #ff1f3d;
    --buttons : #ff1f3d;
    --spans : #333333;
}

html[data-theme='dark'] {
    --bg :#333333;
    --bg-panel :#434343;
    --color-heading: #3694ff;
    --color-text : #fffbfb;
    --color-red : #ff1f3d;
    --buttons : #ff1f3d;
    --spans : #ff1f3d;

}

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth; 
}
 

input[type=checkbox]{
	height: 0;
    width: 0; 
    visibility: hidden;
    margin: auto 0;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 43px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
    position: relative;  
    margin: auto 0;
    margin-left: 50px;

}

label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background:var(--buttons);
}

input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}
 
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

 


// navigation 

 

//landing section


.landing__section {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    position: relative;
    
    .text__section {  
        position: absolute ; 
        left: 5%;
        top: 50%;  

        h2 {
            color: var(--color-text); 
        }


        span {
            color: var(--color-red);
            font-weight: bold;
        }

        .all-text  {
            width: 100%;
            display: flex;
        }

        p  { 
            color: var(--color-text); 
        }

        .slider { 
            height: 28px;
            padding: 0 10px;   
            overflow: hidden;
        }

        .slider div {
            color:var(--color-text);
            font-weight: bold;
            margin-bottom: 18px;
            padding: 3px 10px;
            text-align: center;
            box-sizing: border-box;
        }
        .slider-text1 { 
            background-color: #3694ff00;
            animation: slide  6500ms linear infinite ;
         }
        .slider-text2 { 
            background-color: #e9cb4400;
         }
        .slider-text3 { 
            background-color: #f33b0d00;
         }


         @keyframes slide {
             0%{ margin-top: -150px}
             5%{ margin-top: -100px}
             33%{margin-top: -100px}
             38%{margin-top: -50px}
             66%{margin-top: -50px}
             70%{margin-top: 0px}
             100%{margin-top:  0px} 
         }

        button { 
            padding: 7px 25px ; 
            background-color: var(--buttons);
            border-radius: 5px; 
            color: #fff;
            margin: 40px  20px;
        }    
    } 
     
}

.aboutMe__divider { 
    width: 100%;
    margin: 10px 0 ;
    text-align: center;

    p {
        font-weight: bold;
        
    }
}

.aboutMe__section { 
    width: 90%;
    padding: 5px;
    text-align: center; 
    letter-spacing: 1px;
    margin: 0 auto;

    p { 
        line-height: 35px;
        font-size: 17px;
        letter-spacing: 1px;

    }
    
    span {
        font-weight: bold;
        letter-spacing: 1px;

    }
    a { 
        text-decoration: none;
        color: var(--spans);
        font-weight: bold;
        letter-spacing: 1px;

    }
    .cv_text { 
        margin-bottom: 35px;
    }
    .Curriculum {
        text-decoration: none;
        font-weight: bold; 
        padding: 10px 30px;
        background-color: var(--buttons);
        color: #fff;
        border-radius: 5px;
        text-transform: uppercase;
    }
}

.currentStack__section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
    margin: 35px 0 ;  
    padding: 60px 0;
    background-color: var(--color-text);
    border-radius: 20px;

    .stack__info {
        width: 90%; 
        padding: 15px;
        margin: 0 auto;
        text-align: center;
        background-color: var(--color-text);
        border: 2px solid var(--bg-panel);
        border-radius: 8px;
         
        .stack_img {
            color:  var(--bg-panel);
            margin: 15px 0;
            display: flex;
            justify-content: space-around;
            i{
                color: var(--bg-panel) !important;
            }
        }
        p {
            color: var(--bg-panel);
            letter-spacing: 2px;
            line-height: 21px;

            span { 
                color: var(--color-red);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}



.projects__divider { 
    width: 100%;
    margin: 20px 0 ;
    text-align: center; 
}

.projects__section {
    width: 100%; 
    display: grid;
    grid-template-rows: auto auto auto auto;
    
    .project__container { 
        background-color: var(--bg);
        border-radius: 10px;
        padding: 15px 10px;
        margin: 30px 0;
        transition-duration: 600ms;
        &:hover {
            -webkit-box-shadow: 2px 6px 13px 0px var(--color-text);
            -moz-box-shadow: 2px 6px 13px 0px  var(--color-text);
            box-shadow: 2px 6px 13px 0px  var(--color-text);
            transform: translateY(-1%); 

        }
     
    .image__container {
        width: 100%;
        position: relative; 
        img {
            width: 100%;    
            border-radius: 10px;
            
 
        }
        .btn_image { 
            margin-top: -10px;
            margin-bottom: -10px;
            padding: 2px 15px;
            display: flex;
            justify-content: space-evenly;
             
            a {
                 border-radius: 5px;
                background-color:  var(--buttons);
                color: #fff;
                font-size: 17px;
                text-decoration: none;
                cursor: pointer;
            }
        } 
    }
    h2 {
        margin: 20px 0 10px 0;
        text-align: center;
    }
    p {
        text-align: center;
    }
 
    .stackUsed__section { 
        display: flex; 
        justify-content: space-evenly;
        margin: 20px 0;

        p { 
            margin: 0 10px;
            padding: 3px 8px;
            border-radius: 5px;
            background-color:  var(--buttons);
            color: #fff;  
            line-height: 35px;
            letter-spacing: 2px;
        }
 
        span { 
            color: var(--color-red) !important;
            letter-spacing: 2px;
        }
    }
}
}

.contact__divider { 
    width: 100%;
    margin: 10px 0 20px 0 ;
    text-align: center; 
}


.contact__section {
    width: 100%;
    margin: 10px 0 ;
    padding: 0 10px;

 
    p{
        text-align: center ;  
    } 
    ul {
        margin: 10px 0; 
    }
    ul li {  
        list-style: none;
        display: flex;  
        margin: 5px auto;   
        width: 50% !important;
        justify-content: center;
        i {  
            margin-right: 30px;
        }
        a {  
             margin: auto 0 ;  
            font-weight: bold;
            text-decoration: none;
            color: var(--spans); 
        } 
    }
}

footer { 
    height: 20vh;
    position: relative;
    background-color: var(--color-text);
    margin-top: 40px;
    p { 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: var(--bg);
        font-size: 22px;
    }
}