//readme . should use more comments to get all clear

//quicksand
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

//compforta
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}


// COLOR TEXT SELECTION 

::selection {
  background: var(--color-text); /* WebKit/Blink Browsers */
  color : var(--bg-panel);
}
::-moz-selection {
  background: var(--color-text); /* Gecko Browsers */
  color : var(--bg-panel);
}





h2,
p,
h6 {
  font-family: "Quicksand", sans-serif;
  color: var(--color-text);
  padding: 0;
  margin: 0;
}

input,
button,
submit {
  border: none;
}

span {
  color: var(--spans);
}
html {
  --bg: rgb(247, 245, 242);
  --bg-panel: #fffbfb;
  --color-heading: #333;
  --color-text: #333333;
  --color-red: #ff1f3d;
  --buttons: #ff1f3d;
  --navLinks: #fffbfb;
  --buttons_hvr: #333333;
  --buttons_txt: #fffbfb;
  --spans: #333333;
  --navText: #ff1f3d;
  --navBar: rgba(53, 53, 53, 0.89);
  --landigBg :  linear-gradient(to bottom, #333333 0%,#333333  50%,#333333  50%,rgb(247, 245, 242) 50%,rgb(247, 245, 242) 100%); 
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-heading: #3694ff;
  --color-text: #fffbfb;
  --color-red: #ff1f3d;
  --navLinks: #ff1f3d; 
  --buttons_hvr: #ff1f3d;
  --buttons_txt: #434343;
  --buttons: #ff1f3d;
  --navText: #fffbfb;
  --spans: #ff1f3d;
  --landigBg :  linear-gradient(to bottom,rgb(247, 245, 242) 0%,rgb(247, 245, 242) 50%,rgb(247, 245, 242) 50%,#333333  50%,#333333  100%); 

}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}
// mixin for buttons code preview
@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  margin: auto 0;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 43px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-bottom: 20px;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
// BUTTONS

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px var(--bg-panel);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    var(--buttons_hvr) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

input:checked + label {
  background: var(--buttons);
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.navigationLIlaberl {
  display: flex;
  justify-content: center;
  align-items: center;
}

// navigation
#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: #323233;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px hsla(0, 0%, 5%, 1), -1px -1px #323233;


  @media (min-width: 2000px) { 
    height: 80px; 
  }

  @media (min-width: 3400px){ 
    height: 130px; 

  }

  & .container {
    height: 100%;
  }
  & #toggle {
    display: none;
  }

  .logo a {
    color: var(--navLinks);
    cursor: pointer;
    display: inline-block;
    position: absolute;
    line-height: 20px;
    top: 15px;
    left: 90px;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    font-size: 30px;
    &:hover {
      text-decoration: none;

      color: var(--navText);
    }

    
    @media (min-width: 2000px) {  
        top: 30px;
        font-size: 40px;
    }

    @media (min-width: 3400px){ 
        top: 60px;
        font-size: 60px
    }

    @media (max-width: 767px) {
      left: 10px;
    }
  }
}
#nav {
  position: absolute;
  right: 8%;
  top: 10px;
  transition: all 0.15s ease-in-out;

  
    
  @media (min-width: 2000px) {  
    top : 20px ;
  }

  @media (min-width: 3400px){ 
    top:40px;
    
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & li {
    float: left;
  }
  & a {
    display: block;
    color: var(--navLinks);
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    
    
  @media (min-width: 2000px) {  
      font-size: 25px;
  }

  @media (min-width: 3400px){ 
      font-size: 35px;
  }


    &:hover {
      color: var(--navText);
    }
  }
  .sitchTheme {
    margin: 0;
    top: 5px;
       
    @media (min-width: 2000px) {  
        transform: scale(1.25)
    }
  
    @media (min-width: 3400px){ 
      transform: scale(1.5);
      margin-left: 50px;
  
    }
  
  }
}

@media (max-width: 767px) {
  #nav a {
    padding: 0 12px;
  }
}
@media (max-width: 599px) {
  #header {
    background: #323233 !important;
    border: none !important;
    height: 50px;
    & .container {
      width: 100%;
    }
    & #toggle {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      top: 10px;
      right: 8%;
      cursor: pointer;
      & span {
        display: block;
        position: absolute;
        top: 9px;
        left: 50%;
        width: 17px;
        height: 2px;
        background: #fff;
        -webkit-transition: 350ms;
        -moz-transition: 350ms;
        -o-transition: 350ms;
        -ms-transition: 350ms;
        transition: 350ms;
      }
    }
  }

  #header #toggle .l2 {
    top: 14px;
  }
  #header #toggle .l3 {
    top: 19px;
  }
  .open #toggle .l1 {
    -webkit-transform: rotate(45deg) translate(0px, 7px);
    -moz-transform: rotate(45deg) translate(0px, 7px);
    -ms-transform: rotate(45deg) translate(0px, 7px);
    -o-transform: rotate(45deg) translate(0px, 7px);
    transform: rotate(45deg) translate(0px, 7px);
  }
  .open #toggle .l2 {
    opacity: 0;
  }
  .open #toggle .l3 {
    -webkit-transform: rotate(-45deg) translate(0px, -7px);
    -moz-transform: rotate(-45deg) translate(0px, -7px);
    -ms-transform: rotate(-45deg) translate(0px, -7px);
    -o-transform: rotate(-45deg) translate(0px, -7px);
    transform: rotate(-45deg) translate(0px, -7px);
  }
  .open #nav ul {
    max-height: 1000px;
    -webkit-transform: perspective(600) rotate3d(0, 0, 0, 0);
  }
  .open #nav:before {
    -webkit-transform: rotate(45deg) translate(0, 6px);
    -moz-transform: rotate(45deg) translate(0, 6px);
    -ms-transform: rotate(45deg) translate(0, 6px);
    -o-transform: rotate(45deg) translate(0, 6px);
    transform: rotate(45deg) translate(0, 6px);
    border-bottom: 0;
  }
  .open #nav:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav {
    top: 50px;
    left: 0;
    right: 0;
    & ul {
      max-height: 0;
      overflow: hidden;
      background: #323233;
      -webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg);
      -webkit-transform-origin: 50% 0;
      -webkit-transition: 350ms;
      -moz-transition: 350ms;
      -o-transition: 350ms;
      -ms-transition: 350ms;
      transition: 350ms;
    }
    & li {
      display: block;
      float: none;
    }
    & a {
      text-align: center;
      padding: 0;
      border-top: 1px solid #3b3b3b;
      height: 44px;
      line-height: 44px;
      color: #a6a5a4 !important;
    }
  }

  .sitchTheme {
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

//landing section

.landing__section {
  width: 100%;
  height: 100%;
  background: var(--landigBg);
  height: 100%;
  width: 100%;
  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* ---- stats.js ---- */
.count-particles {
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.text__section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  width: 90%;
  text-align: center;

       
  @media (min-width: 2000px) {  
      transform: translate(-50%,-50%) scale(2.5)
  }

  @media (min-width: 3400px){ 
    transform: translate(-50%,-50%) scale(4.0) !important

  }

  @media screen and (min-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.3);
  }

  @media screen and (min-width: 1024px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.6);
  }

  h2 {
    color: var(--bg);

    @media screen and (max-width: 1200px) {
      margin-bottom : 50px; 
    }

  }

  span {
    color: var(--color-red);
    font-weight: bold;
  }

  .all-text {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  p {
    color: var(--color-text);

    @media screen and (min-width: 768px) {
      margin-top: 20px;
    }
  }

  .slider {
    height: 28px;
    padding: 0 10px;
    overflow: hidden;

    
    
  @media (min-width: 2000px) {  
        height: 32px
  }

  @media (min-width: 3400px){ 
    height: 35px
    
  }


    @media screen and (min-width: 768px) {
      margin-top: 20px;
    }

  }

  .slider div {
    color: var(--color-text);
    font-weight: bold;
    margin-bottom: 18px;
    padding: 3px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    background-color: #3694ff00;
    animation: slide 6500ms linear infinite;
  }
  .slider-text2 {
    background-color: #e9cb4400;
  }
  .slider-text3 {
    background-color: #f33b0d00;
  }

  @keyframes slide {
    0% {
      margin-top: -150px;
    }
    5% {
      margin-top: -100px;
    }
    33% {
      margin-top: -100px;
    }
    38% {
      margin-top: -50px;
    }
    66% {
      margin-top: -50px;
    }
    70% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0px;
    }
  }
}

.aboutMe__divider {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  h2 {


       
    @media screen and (min-width: 2000px) {  
      font-size: 28px; 
    }

    @media screen and (min-width: 3400px){ 
      font-size: 145px !important;
    }

    
    @media screen and (min-width: 768px) {
      font-size: 50px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 59px;
    }

    
  }

  p {
    font-weight: bold;

       
    @media screen and (min-width: 2000px) {  
      font-size: 22px; 
    }

    @media screen and (min-width: 3400px){ 
      font-size: 55px !important

    }


    @media screen and (min-width: 768px) {
      font-size: 23px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 25px;
    }

          
     

  }
}

.aboutMe__section {
  width: 70%;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    margin: 30px auto;
  }
  @media screen and (max-width: 768px) {
    width: 80% !important;
  }

  p {
    line-height: 35px;
    font-size: 17px;
    letter-spacing: 1px;

       
    @media screen and (min-width: 2000px) {  
      font-size: 25px !important;  
    }

    @media screen and (min-width: 3400px){ 
      font-size: 45px !important; 
      line-height: 100px !important; 

    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 50px;
    }
  }

  span {
    font-weight: bold;
    letter-spacing: 1px;    
    @media screen and (min-width: 2000px) {  
      font-size: 25px;  
    }

    @media screen and (min-width: 3400px){ 
      font-size: 45px !important;  

    }
  }
  a {
    text-decoration: none;
    color: var(--spans);
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      text-decoration: underline;
    }    
    @media screen and (min-width: 2000px) {  
      font-size: 25px;  
    }

    @media screen and (min-width: 3400px){ 
      font-size: 45px !important;  

    }
  }
  .cv_text {
    margin-bottom: 35px;

    @media screen and (min-width: 768px) {
      margin-bottom: 55px;
    }
  }
  .curriculumV {
    padding: 10px 13px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid rgba(68, 68, 68, 0.164);
    background: var(--color-text);
    color: var(--buttons_txt);
    text-decoration: none;
       
    @media screen and (min-width: 2000px) {  
      transform: scale(1.2)
    }

    @media screen and (min-width: 3400px){ 
        padding: 15px 22px
    }



    &:hover {
      transition: 300ms;
      color: #ff1f3d;
      text-decoration: none;
    }
  }
}

.currentStack__section {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 25px;
  margin: 35px 0;
  padding: 60px 0;
  background-color: var(--color-text);

  @media screen and (min-width: 768px) {
    margin: 55px 0;
    grid-template-columns: auto auto auto;
  }

  @media screen and (min-width: 1024px) {
    font-size: 21px;
    grid-template-columns: auto auto auto;
    grid-template-rows: none;
  }

  .thirdStack {
    @media screen and (min-width: 768px) {
      grid-column: 1/ 3;
      max-width: 400px;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 3;
    }
  }

  .stack__info {
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-text);
    border: 1px solid var(--bg-panel);
    border-radius: 4px;
  

    span {
      color: var(--color-red);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .stack_learn {
      font-size: 15px;
      width: 65px;
      margin-top: -24px;
      margin-left: 5px;
      background: var(--color-text);
      color: var(--bg-panel);
              
    @media screen and (min-width: 2000px) {  
      font-size: 18px;
      width: 75px;
    }

    @media screen and (min-width: 3400px){  
      font-size: 40px;
      width: 75px;

    }

    }
    .development {
      font-size: 15px;
      width: 115px;
      margin-top: -24px;
      margin-left: 5px;
      background: var(--color-text);
      color: var(--bg-panel);

      @media screen and (min-width: 2000px) {  
        font-size: 18px;
        width: 130px;
      }
  
      @media screen and (min-width: 3400px){ 
        font-size: 35px;
        width: 130px;
  
      }
  
    }

    .future {
      font-size: 15px;
      width: 70px;
      margin-top: -24px;
      margin-left: 5px;
      background: var(--color-text);
      color: var(--bg-panel);

      @media screen and (min-width: 2000px) {  
        font-size: 18px;
        width: 80px;
      }
  
      @media screen and (min-width: 3400px){ 
        font-size: 35px;
        width: 80px;
  
      }
  
    }

    @media screen and (min-width: 1024px) {
      max-width: 400px;
    }
    @media screen and (min-width: 2000px) {  
      max-width: 550px;
      padding: 39px 15px; 
    }
 
     
    @media screen and (min-width: 3400px) {  
      max-width: 650px; 
    }
 


    .stack_img {
      color: var(--bg-panel);
      margin: 15px 0;
      display: flex;
      justify-content: space-around;
      i {
        color: var(--bg-panel) !important;
      }
    }
    p {
      color: var(--bg-panel);
      letter-spacing: 2px;
      line-height: 20px;

      @media screen and (min-width: 2000px) {  
        font-size: 28px
      }
  
      @media screen and (min-width: 3400px){
        font-size: 40px;
        line-height: 60px !important;
  
      }

      
      @media screen and (min-width: 1024px) {
        line-height: 30px;
      }

    
      @media screen and (min-width: 2000px) {  
        line-height:  40px;
      }
  
      @media screen and (min-width: 3400px){ 
          font-size: 45px; 
      }
  
      span {
        color: var(--color-red);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.projects__divider {
  width: 100%;
  margin: 20px 0;
  text-align: center;   
  @media screen and (min-width: 2000px) {  
    margin: 40px 0;
  }

  @media screen and (min-width: 3400px){ 
      margin: 60px 0;
  }


  h2 {
    @media screen and (min-width: 768px) {
      font-size: 50px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 59px;
    }
    @media screen and (min-width: 3400px){ 
        font-size: 150px;
    }
  
  }
}

.invert__element {
  .project__container {
    .image__site {
      grid-column: 1;
      @media screen and (min-width: 1200px) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    .text__site {
      grid-column: 1;
      @media screen and (min-width: 1200px) {
        grid-column: 1;
      }
    }
  }
}

.project__section {
  width: 100%;
  margin: 0;
  padding: 0px 5px;

  @media screen and (min-width: 1024px) {
    padding: 0 15px;
  }

  .project__container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin: 70px 0;

    @media screen and (min-width: 1200px) {
      grid-template-rows: none;
      grid-template-columns: 50% 50%;
      width: 60%;
      margin: 100px auto;
    }
      
    @media screen and (min-width: 3400) {
      grid-row-gap: 50px;
    }


    .image__site {
      width: 100%;

      .img__top {
        width: 100%;
        border-radius: 10px;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        -webkit-box-shadow: 3px -1px 67px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px -1px 67px -20px rgba(0, 0, 0, 0.75);
        box-shadow: 3px -1px 67px -20px rgba(0, 0, 0, 0.75);
      }
      .firstimage {
        background-image: url("../img/nasa_api_bottom.png");
        background-size: cover;
        width: 100%;
      }
      .secondimage {
        background-image: url("../img/react_weather_bottom.png");
        background-size: cover;
        width: 100%;
      }
      .thirdimage {
        background-image: url("../img/explore_italy_bottom.png");
        background-size: cover;
        width: 100%;
      }
      .fourthIMG {
        background-image: url("../img/ecommerce_bottom.png");
        background-size: cover;
        width: 100%;
      }
      .img__bottom {
        width: 100%;
        transform-style: preserve-3d;
        transform: translateZ(20px);
      }
    }

    .text__site {
      width: 100%;
      display: grid;
      grid-template-rows: auto auto auto;
      grid-gap: 5px;
      text-align: center;
      letter-spacing: 1px;

      p {
        margin: 20px 0;
        line-height: 35px;

           
      @media screen and (min-width: 2000px) {  
            font-size: 24px
      }

      @media screen and (min-width: 3400px){ 
            font-size: 50px;
            margin: 60px 0;
            line-height: 75px;
      }


      }

      .button__row {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

              
        @media screen and (min-width: 2000px) {  
          max-height: 50px; 
        }

        @media screen and (min-width: 3400px){ 
          max-height: 90px
        }



        .code_preview {
          padding: 7px 10px;
          border-radius: 8px;
          font-weight: bold;
          text-transform: uppercase;
          border: 1px solid rgba(68, 68, 68, 0.164);
          background: var(--color-text);
          color: var(--bg-panel);
          text-decoration: none;
          margin: 0 25px;

                   
        @media screen and (min-width: 2000px) {  
            font-size: 21px;
        }

        @media screen and (min-width: 3400px){ 
          font-size: 50px;
         }

          &:hover {
            transition: 300ms;

            color: #ff1f3d;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;

           
    @media screen and (min-width: 2000px) {  
      font-size: 22px; 
    }

    @media screen and (min-width: 3400px){ 
      font-size: 45px;

    }



        @media screen and (min-width: 1024px) {
          margin: 0;
          align-items: center;
        }

        li {
          list-style-type: circle;
          text-transform: uppercase;
          color: var(--color-text);
        }
      }
    }
  }
}

.contact__divider {
  width: 100%;
  margin: 10px 0 20px 0;
  text-align: center;
  h2 {
    @media screen and (min-width: 768px) {
      font-size: 50px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 59px;
    }
  }
}

.contact__section {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;

  @media screen and (min-width: 768px) {
    margin: 50px 0;
  }

  p {
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 21px;
    }
    
    @media screen and (min-width: 2000px) {  
      font-size : 26px;
    }

    @media screen and (min-width: 3400px){ 
      font-size : 50px !important;

    }

  }

  .contact_ul {
    width: 40%;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;

      @media screen and (max-width: 768px) {
        margin: 0 10px;
      }
    }
    #hexagon {
      width: 100px;
      height: 60px;
      background: var(--color-text);
      position: relative;
      text-align: center;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    
      @media screen and (min-width: 2000px) {  
        transform: scale(1.3)
      }
  
      @media screen and (min-width: 3400px){ 
        transform: scale(1.5)
  
      }
  

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--bg-panel);
      }
    }
    #hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid var(--color-text);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    #hexagon:after {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid var(--color-text);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    // Linkedin
    .linkedin:hover {
      background: rgb(4, 217, 255) !important;
    }

    .linkedin:hover:after {
      border-top: 25px solid rgb(4, 217, 255) !important;
    }
    .linkedin:hover:before {
      border-bottom: 25px solid rgb(4, 217, 255) !important;
    }

    //Gmail
    .gmail:hover {
      background: rgb(255, 4, 4) !important;
    }

    .gmail:hover:after {
      border-top: 25px solid rgb(255, 4, 4) !important;
    }
    .gmail:hover:before {
      border-bottom: 25px solid rgb(255, 4, 4) !important;
    }

    //github
    .github:hover {
      background: rgb(0, 0, 0) !important;
    }

    .github:hover:after {
      border-top: 25px solid rgb(0, 0, 0) !important;
    }
    .github:hover:before {
      border-bottom: 25px solid rgb(0, 0, 0) !important;
    }

    //instagram

    .instagram:hover {
      background: rgb(255, 32, 236) !important;
    }

    .instagram:hover:after {
      border-top: 25px solid rgb(255, 32, 236) !important;
    }
    .instagram:hover:before {
      border-bottom: 25px solid rgb(255, 32, 236) !important;
    }

    //youtube
    .youtube:hover {
      background: rgb(255, 4, 4) !important;
    }

    .youtube:hover:after {
      border-top: 25px solid rgb(255, 4, 4) !important;
    }
    .youtube:hover:before {
      border-bottom: 25px solid rgb(255, 4, 4) !important;
    }
    // twitter
    .twitter:hover {
      background: rgb(4, 217, 255) !important;
    }

    .twitter:hover:after {
      border-top: 25px solid rgb(4, 217, 255) !important;
    }
    .twitter:hover:before {
      border-bottom: 25px solid rgb(4, 217, 255) !important;
    }
  }
}

footer {
  height: 20vh;
  position: relative;
  background-color: var(--color-text);
  margin-top: 80px;
  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg);
    font-size: 22px;
    
    @media screen and (min-width: 2000px) {  
      font-size: 27px;
    }

    @media screen and (min-width: 3400px){ 

      font-size: 50px;
    }

  }
}

// page offset for header

a.anchor {
  display: block;
  position: relative;
  top: -8vh;
  visibility: hidden;
}
