@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

h2,
p,
h6 {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text);
  padding: 0;
  margin: 0;
}

input, button, submit {
  border: none;
}

span {
  color: var(--spans);
}

html {
  --bg:rgb(247,245,242);
  --bg-panel:#fffbfb;
  --color-heading: #333;
  --color-text: #333333;
  --color-red: #ff1f3d;
  --buttons: #ff1f3d;
  --spans: #333333;
}

html[data-theme='dark'] {
  --bg:#333333;
  --bg-panel:#434343;
  --color-heading: #3694ff;
  --color-text: #fffbfb;
  --color-red: #ff1f3d;
  --buttons: #ff1f3d;
  --spans: #ff1f3d;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  margin: auto 0;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 43px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin: auto 0;
  margin-left: 50px;
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--buttons);
}

input:checked + label:after {
  left: calc(100% - 1px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.landing__section {
  width: 100%;
  height: 100%;
  background-color: --bg-panel;
  position: relative;
  /* ---- stats.js ---- */
}

.landing__section .img__landing {
  height: 100%;
  width: 100%;
  position: relative;
}

.landing__section #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing__section .count-particles {
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.landing__section .js-count-particles {
  font-size: 1.1em;
}

.landing__section #stats,
.landing__section .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

.landing__section #stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.landing__section .count-particles {
  border-radius: 0 0 3px 3px;
}

.landing__section .text__section {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .landing__section .text__section {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    left: 10%;
    top: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .landing__section .text__section {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    left: 10%;
    top: 50%;
  }
}

.landing__section .text__section h2 {
  color: var(--color-text);
}

.landing__section .text__section span {
  color: var(--color-red);
  font-weight: bold;
}

.landing__section .text__section .all-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing__section .text__section p {
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .landing__section .text__section p {
    margin-top: 20px;
  }
}

.landing__section .text__section .slider {
  height: 28px;
  padding: 0 10px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .landing__section .text__section .slider {
    margin-top: 20px;
  }
}

.landing__section .text__section .slider div {
  color: var(--color-text);
  font-weight: bold;
  margin-bottom: 18px;
  padding: 3px 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing__section .text__section .slider-text1 {
  background-color: #3694ff00;
  -webkit-animation: slide  6500ms linear infinite;
          animation: slide  6500ms linear infinite;
}

.landing__section .text__section .slider-text2 {
  background-color: #e9cb4400;
}

.landing__section .text__section .slider-text3 {
  background-color: #f33b0d00;
}

@-webkit-keyframes slide {
  0% {
    margin-top: -150px;
  }
  5% {
    margin-top: -100px;
  }
  33% {
    margin-top: -100px;
  }
  38% {
    margin-top: -50px;
  }
  66% {
    margin-top: -50px;
  }
  70% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes slide {
  0% {
    margin-top: -150px;
  }
  5% {
    margin-top: -100px;
  }
  33% {
    margin-top: -100px;
  }
  38% {
    margin-top: -50px;
  }
  66% {
    margin-top: -50px;
  }
  70% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.landing__section .text__section button {
  padding: 7px 25px;
  background-color: var(--buttons);
  border-radius: 5px;
  color: #fff;
  margin: 40px  20px;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.landing__section .text__section button:hover {
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.767);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.795);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: var(--buttons);
  border: 2px solid rgba(238, 33, 33, 0.644);
}

.aboutMe__divider {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .aboutMe__divider h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .aboutMe__divider h2 {
    font-size: 59px;
  }
}

.aboutMe__divider p {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .aboutMe__divider p {
    font-size: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .aboutMe__divider p {
    font-size: 25px;
  }
}

.aboutMe__section {
  width: 90%;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .aboutMe__section {
    margin: 30px auto;
  }
}

.aboutMe__section p {
  line-height: 35px;
  font-size: 17px;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .aboutMe__section p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .aboutMe__section p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 50px;
  }
}

.aboutMe__section span {
  font-weight: bold;
  letter-spacing: 1px;
}

.aboutMe__section a {
  text-decoration: none;
  color: var(--spans);
  font-weight: bold;
  letter-spacing: 1px;
}

.aboutMe__section a:hover {
  text-decoration: underline;
}

.aboutMe__section .cv_text {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .aboutMe__section .cv_text {
    margin-bottom: 55px;
  }
}

.aboutMe__section .Curriculum {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  background-color: var(--buttons);
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 50px 0;
}

@media screen and (min-width: 768px) {
  .aboutMe__section .Curriculum {
    font-size: 22px;
  }
}

.currentStack__section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 25px;
  margin: 35px 0;
  padding: 60px 0;
  background-color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .currentStack__section {
    margin: 55px 0;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1024px) {
  .currentStack__section {
    font-size: 21px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
}

@media screen and (min-width: 768px) {
  .currentStack__section .thirdStack {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .currentStack__section .thirdStack {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.currentStack__section .stack__info {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-text);
  border: 1px solid var(--bg-panel);
  border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .currentStack__section .stack__info {
    max-width: 400px;
  }
}

.currentStack__section .stack__info .stack_img {
  color: var(--bg-panel);
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.currentStack__section .stack__info .stack_img i {
  color: var(--bg-panel) !important;
}

.currentStack__section .stack__info p {
  color: var(--bg-panel);
  letter-spacing: 2px;
  line-height: 20px;
}

@media screen and (min-width: 1024px) {
  .currentStack__section .stack__info p {
    line-height: 30px;
  }
}

.currentStack__section .stack__info p span {
  color: var(--color-red);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.projects__divider {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .projects__divider h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .projects__divider h2 {
    font-size: 59px;
  }
}

.invert__element .project__container .image__site {
  -ms-grid-column: 1;
  grid-column: 1;
}

@media screen and (min-width: 1200px) {
  .invert__element .project__container .image__site {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.invert__element .project__container .text__site {
  -ms-grid-column: 1;
  grid-column: 1;
}

@media screen and (min-width: 1200px) {
  .invert__element .project__container .text__site {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.project__section {
  width: 100%;
  margin: 0;
  padding: 10px 5px;
}

@media screen and (min-width: 1024px) {
  .project__section {
    padding: 0  15px;
  }
}

.project__section .project__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto  auto;
      grid-template-rows: auto  auto;
  grid-gap: 10px;
  margin: 70px 0;
}

@media screen and (min-width: 1200px) {
  .project__section .project__container {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 60%;
    margin: 100px auto;
  }
}

.project__section .project__container .image__site {
  width: 100%;
}

.project__section .project__container .image__site .img__top {
  width: 100%;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-box-shadow: 3px -1px 67px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -1px 67px -20px rgba(0, 0, 0, 0.75);
}

.project__section .project__container .image__site .firstimage {
  background-image: url("../img/nasa_api_bottom.png");
  background-size: cover;
  width: 100%;
}

.project__section .project__container .image__site .secondimage {
  background-image: url("../img/react_weather_bottom.png");
  background-size: cover;
  width: 100%;
}

.project__section .project__container .image__site .img__bottom {
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.project__section .project__container .text__site {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto  auto auto;
      grid-template-rows: auto  auto auto;
  grid-gap: 5px;
  text-align: center;
  letter-spacing: 1px;
}

.project__section .project__container .text__site p {
  margin: 20px 0;
  line-height: 35px;
}

.project__section .project__container .text__site .button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.project__section .project__container .text__site .button__row a {
  text-decoration: none;
  padding: 8px 15px;
  background-color: var(--color-text);
  color: var(--bg-panel);
  border-radius: 10px;
  max-height: 40px;
}

.project__section .project__container .text__site ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 0;
}

@media screen and (min-width: 1024px) {
  .project__section .project__container .text__site ul {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.project__section .project__container .text__site ul li {
  list-style-type: circle;
  text-transform: uppercase;
}

.contact__divider {
  width: 100%;
  margin: 10px 0 20px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact__divider h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .contact__divider h2 {
    font-size: 59px;
  }
}

.contact__section {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .contact__section {
    margin: 50px 0;
  }
}

.contact__section p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact__section p {
    font-size: 21px;
  }
}

.contact__section .contact_ul {
  width: 40%;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__section .contact_ul a {
  text-decoration: none;
}

.contact__section .contact_ul #hexagon {
  width: 100px;
  height: 60px;
  background: var(--color-text);
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact__section .contact_ul #hexagon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--bg-panel);
}

.contact__section .contact_ul #hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid var(--color-text);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact__section .contact_ul #hexagon:after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid var(--color-text);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact__section .contact_ul .linkedin:hover {
  background: #04d9ff !important;
}

.contact__section .contact_ul .linkedin:hover:after {
  border-top: 25px solid #04d9ff !important;
}

.contact__section .contact_ul .linkedin:hover:before {
  border-bottom: 25px solid #04d9ff !important;
}

.contact__section .contact_ul .gmail:hover {
  background: #ff0404 !important;
}

.contact__section .contact_ul .gmail:hover:after {
  border-top: 25px solid #ff0404 !important;
}

.contact__section .contact_ul .gmail:hover:before {
  border-bottom: 25px solid #ff0404 !important;
}

.contact__section .contact_ul .github:hover {
  background: black !important;
}

.contact__section .contact_ul .github:hover:after {
  border-top: 25px solid black !important;
}

.contact__section .contact_ul .github:hover:before {
  border-bottom: 25px solid black !important;
}

.contact__section .contact_ul .instagram:hover {
  background: #ff20ec !important;
}

.contact__section .contact_ul .instagram:hover:after {
  border-top: 25px solid #ff20ec !important;
}

.contact__section .contact_ul .instagram:hover:before {
  border-bottom: 25px solid #ff20ec !important;
}

.contact__section .contact_ul .youtube:hover {
  background: #ff0404 !important;
}

.contact__section .contact_ul .youtube:hover:after {
  border-top: 25px solid #ff0404 !important;
}

.contact__section .contact_ul .youtube:hover:before {
  border-bottom: 25px solid #ff0404 !important;
}

.contact__section .contact_ul .twitter:hover {
  background: #04d9ff !important;
}

.contact__section .contact_ul .twitter:hover:after {
  border-top: 25px solid #04d9ff !important;
}

.contact__section .contact_ul .twitter:hover:before {
  border-bottom: 25px solid #04d9ff !important;
}

footer {
  height: 20vh;
  position: relative;
  background-color: var(--color-text);
  margin-top: 80px;
}

footer p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--bg);
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */